In [2]:
import PyPDF2
import pdfplumber

In [46]:
import PyPDF2
import re

def extract_text_without_emojis(pdf_file_path, page_number):
    with open(pdf_file_path, 'rb') as pdf_file:
        pdf_reader = PyPDF2.PdfReader(pdf_file)

        # Get the specified page
        page = pdf_reader.pages[page_number]

        # Extract text from the specified page
        page_text = page.extract_text()

        # Remove emojis using regex
        clean_text = re.sub(r'[^\x00-\x7F]+', '', page_text)

    return clean_text

# Path to the PDF file
pdf_file_path = './PhonePe_Statement_Dec2023_Mar2024.pdf'

# Extract text from the first page without emojis
first_page_text_without_emojis = extract_text_without_emojis(pdf_file_path, 5)

print(first_page_text_without_emojis)

Date
Date
Transaction Details
Transaction Details
Type
Type
Amount
Amount
Mar 20, 2024
Mar 20, 2024
08:21 PM
08:21 PM
DEBIT
DEBIT


70
70
Paid to Annu Restaurant
Paid to Annu Restaurant
Transaction ID T2403202021363935631458
Transaction ID T2403202021363935631458
UTR No. 444694188271
UTR No. 444694188271
Paid by
Paid by
XXXXXX7510
XXXXXX7510
Mar 20, 2024
Mar 20, 2024
12:14 PM
12:14 PM
DEBIT
DEBIT


80
80
Paid to NEW AK FAST FOOD
Paid to NEW AK FAST FOOD
Transaction ID T2403201214326684888348
Transaction ID T2403201214326684888348
UTR No. 444649306397
UTR No. 444649306397
Paid by
Paid by
XXXXXX7510
XXXXXX7510
Mar 20, 2024
Mar 20, 2024
11:10 AM
11:10 AM
DEBIT
DEBIT


110
110
Paid to ishan laundry
Paid to ishan laundry
Transaction ID T2403201110044393835166
Transaction ID T2403201110044393835166
UTR No. 444677847120
UTR No. 444677847120
Paid by
Paid by
XXXXXX7510
XXXXXX7510
Mar 19, 2024
Mar 19, 2024
05:17 PM
05:17 PM
DEBIT
DEBIT


70
70
Paid to BLESSING DEPARTMENTAL STORE
Paid to BLESSING DEPARTMENTAL STORE
Transaction ID T2403191717447349914658
Transaction ID T2403191717447349914658
UTR No. 444581104993
UTR No. 444581104993
Paid by
Paid by
XXXXXX7510
XXXXXX7510
Mar 19, 2024
Mar 19, 2024
05:09 PM
05:09 PM
DEBIT
DEBIT


40
40
Paid to RC Chicken House   Chicken Corner
Paid to RC Chicken House   Chicken Corner
Transaction ID T2403191709242767765006
Transaction ID T2403191709242767765006
UTR No. 407914363899
UTR No. 407914363899
Paid by
Paid by
XXXXXX7510
XXXXXX7510
Mar 19, 2024
Mar 19, 2024
04:59 PM
04:59 PM
DEBIT
DEBIT


20
20
Paid to VISHNU CHAT BHANDHAR
Paid to VISHNU CHAT BHANDHAR
Transaction ID T2403191659131585747527
Transaction ID T2403191659131585747527
UTR No. 444522395523
UTR No. 444522395523
Paid by
Paid by
XXXXXX7510
XXXXXX7510
Mar 18, 2024
Mar 18, 2024
08:26 PM
08:26 PM
DEBIT
DEBIT


70
70
Paid to Annu Restaurant
Paid to Annu Restaurant
Transaction ID T2403182026285839231451
Transaction ID T2403182026285839231451
UTR No. 444410984239
UTR No. 444410984239
Paid by
Paid by
XXXXXX7510
XXXXXX7510
Mar 18, 2024
Mar 18, 2024
03:20 PM
03:20 PM
DEBIT
DEBIT


50,000
50,000
Paid to CHINTAKAYALA  ADINARAYANA
Paid to CHINTAKAYALA  ADINARAYANA
Transaction ID T2403181520452700029980
Transaction ID T2403181520452700029980
UTR No. 444476587437
UTR No. 444476587437
Paid by
Paid by
XXXXXX7510
XXXXXX7510
Page 6 of 53
Page 6 of 53
This is a system generated statement. For any queries, contact us at
This is a system generated statement. For any queries, contact us at
https://support.phonepe.com/statement.
https://support.phonepe.com/statement.

In [40]:
first_page_text_without_emojis

'Date\nDate\nTransaction Details\nTransaction Details\nType\nType\nAmount\nAmount\nMar 20, 2024\nMar 20, 2024\n08:21 PM\n08:21 PM\nDEBIT\nDEBIT\n\n\n70\n70\nPaid to Annu Restaurant\nPaid to Annu Restaurant\nTransaction ID T2403202021363935631458\nTransaction ID T2403202021363935631458\nUTR No. 444694188271\nUTR No. 444694188271\nPaid by\nPaid by\nXXXXXX7510\nXXXXXX7510\nMar 20, 2024\nMar 20, 2024\n12:14 PM\n12:14 PM\nDEBIT\nDEBIT\n\n\n80\n80\nPaid to NEW AK FAST FOOD \nPaid to NEW AK FAST FOOD \nTransaction ID T2403201214326684888348\nTransaction ID T2403201214326684888348\nUTR No. 444649306397\nUTR No. 444649306397\nPaid by\nPaid by\nXXXXXX7510\nXXXXXX7510\nMar 20, 2024\nMar 20, 2024\n11:10 AM\n11:10 AM\nDEBIT\nDEBIT\n\n\n110\n110\nPaid to ishan laundry\nPaid to ishan laundry\nTransaction ID T2403201110044393835166\nTransaction ID T2403201110044393835166\nUTR No. 444677847120\nUTR No. 444677847120\nPaid by\nPaid by\nXXXXXX7510\nXXXXXX7510\nMar 19, 2024\nMar 19, 2024\n05:17 PM\n05:17 PM\nDEBIT\nDEBIT\n\n\n70\n70\nPaid to BLESSING DEPARTMENTAL STORE\nPaid to BLESSING DEPARTMENTAL STORE\nTransaction ID T2403191717447349914658\nTransaction ID T2403191717447349914658\nUTR No. 444581104993\nUTR No. 444581104993\nPaid by\nPaid by\nXXXXXX7510\nXXXXXX7510\nMar 19, 2024\nMar 19, 2024\n05:09 PM\n05:09 PM\nDEBIT\nDEBIT\n\n\n40\n40\nPaid to RC Chicken House   Chicken Corner\nPaid to RC Chicken House   Chicken Corner\nTransaction ID T2403191709242767765006\nTransaction ID T2403191709242767765006\nUTR No. 407914363899\nUTR No. 407914363899\nPaid by\nPaid by\nXXXXXX7510\nXXXXXX7510\nMar 19, 2024\nMar 19, 2024\n04:59 PM\n04:59 PM\nDEBIT\nDEBIT\n\n\n20\n20\nPaid to VISHNU CHAT BHANDHAR\nPaid to VISHNU CHAT BHANDHAR\nTransaction ID T2403191659131585747527\nTransaction ID T2403191659131585747527\nUTR No. 444522395523\nUTR No. 444522395523\nPaid by\nPaid by\nXXXXXX7510\nXXXXXX7510\nMar 18, 2024\nMar 18, 2024\n08:26 PM\n08:26 PM\nDEBIT\nDEBIT\n\n\n70\n70\nPaid to Annu Restaurant\nPaid to Annu Restaurant\nTransaction ID T2403182026285839231451\nTransaction ID T2403182026285839231451\nUTR No. 444410984239\nUTR No. 444410984239\nPaid by\nPaid by\nXXXXXX7510\nXXXXXX7510\nMar 18, 2024\nMar 18, 2024\n03:20 PM\n03:20 PM\nDEBIT\nDEBIT\n\n\n50,000\n50,000\nPaid to CHINTAKAYALA  ADINARAYANA\nPaid to CHINTAKAYALA  ADINARAYANA\nTransaction ID T2403181520452700029980\nTransaction ID T2403181520452700029980\nUTR No. 444476587437\nUTR No. 444476587437\nPaid by\nPaid by\nXXXXXX7510\nXXXXXX7510\nPage 6 of 53\nPage 6 of 53\nThis is a system generated statement. For any queries, contact us at\nThis is a system generated statement. For any queries, contact us at\nhttps://support.phonepe.com/statement.\nhttps://support.phonepe.com/statement.'

In [47]:
li = first_page_text_without_emojis.split('\n')
li[:10]

['Date',
 'Date',
 'Transaction Details',
 'Transaction Details',
 'Type',
 'Type',
 'Amount',
 'Amount',
 'Mar 20, 2024',
 'Mar 20, 2024']

In [48]:
li2=[]
for i, x in enumerate(li) :
    if i %2 ==0:
        li2.append(x)
    else:
        pass
text =(" ").join(li2)

In [49]:
import re

# Regular expression pattern to match from month name up to "Transaction ID"
pattern = r"(\b(?:Jan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)\b.*?)(?=Transaction\sID)"

# Find all matches
matches = re.findall(pattern, text)

# Print all matches
for match in matches:
    print(match)

Mar 20, 2024 08:21 PM DEBIT  70 Paid to Annu Restaurant
Mar 20, 2024 12:14 PM DEBIT  80 Paid to NEW AK FAST FOOD
Mar 20, 2024 11:10 AM DEBIT  110 Paid to ishan laundry
Mar 19, 2024 05:17 PM DEBIT  70 Paid to BLESSING DEPARTMENTAL STORE
Mar 19, 2024 05:09 PM DEBIT  40 Paid to RC Chicken House   Chicken Corner
Mar 19, 2024 04:59 PM DEBIT  20 Paid to VISHNU CHAT BHANDHAR
Mar 18, 2024 08:26 PM DEBIT  70 Paid to Annu Restaurant
Mar 18, 2024 03:20 PM DEBIT  50,000 Paid to CHINTAKAYALA  ADINARAYANA

In [50]:
type(matches[0])

str

In [38]:
import re

# Sample list of transaction strings


# Regex pattern to match necessary components
pattern = r"(\bJan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)\s(\d{1,2}),\s(\d{4})\s(\d{2}:\d{2}\s(?:AM|PM))\s(DEBIT|CREDIT)\s(\d+,\d+|\d+)\s(Paid to|Received from)(.*)"

# Process each transaction in the list
extracted_data = []
for transaction in matches:
    match = re.match(pattern, transaction)
    if match:
        data = {
            "Month": match.group(1),
            "Date": match.group(2),
            "Year": match.group(3),
            "Time": match.group(4),
            "Type": match.group(5),
            "Amount": match.group(6),
            "Transaction": match.group(7),
            "Payee": match.group(8).strip()  # Remove any leading/trailing whitespace
        }
        extracted_data.append(data)

# Print the results
for data in extracted_data:
    print(data)

{'Month': 'Mar', 'Date': '27', 'Year': '2024', 'Time': '04:51 PM', 'Type': 'DEBIT', 'Amount': '20', 'Transaction': 'Paid to', 'Payee': 'Om Prakash'}
{'Month': 'Mar', 'Date': '27', 'Year': '2024', 'Time': '01:54 PM', 'Type': 'DEBIT', 'Amount': '20', 'Transaction': 'Paid to', 'Payee': 'CAFE 24 X 7'}
{'Month': 'Mar', 'Date': '27', 'Year': '2024', 'Time': '01:47 PM', 'Type': 'DEBIT', 'Amount': '40', 'Transaction': 'Paid to', 'Payee': 'Harman Enterprises'}
{'Month': 'Mar', 'Date': '27', 'Year': '2024', 'Time': '01:37 PM', 'Type': 'DEBIT', 'Amount': '10', 'Transaction': 'Paid to', 'Payee': 'MANGA MASIH'}
{'Month': 'Mar', 'Date': '27', 'Year': '2024', 'Time': '07:31 AM', 'Type': 'CREDIT', 'Amount': '200', 'Transaction': 'Received from', 'Payee': '******9954'}
{'Month': 'Mar', 'Date': '26', 'Year': '2024', 'Time': '07:57 PM', 'Type': 'DEBIT', 'Amount': '70', 'Transaction': 'Paid to', 'Payee': 'Annu Restaurant'}
{'Month': 'Mar', 'Date': '26', 'Year': '2024', 'Time': '01:33 PM', 'Type': 'DEBIT', 'Amount': '55,000', 'Transaction': 'Paid to', 'Payee': 'P'}
{'Month': 'Mar', 'Date': '26', 'Year': '2024', 'Time': '01:28 PM', 'Type': 'DEBIT', 'Amount': '70', 'Transaction': 'Paid to', 'Payee': 'Annu Restaurant'}

In [45]:
import PyPDF2
import re

def extract_text_without_emojis(pdf_file_path, page_number):
    """Extracts text from a specific page of a PDF file and removes emojis."""
    with open(pdf_file_path, 'rb') as pdf_file:
        pdf_reader = PyPDF2.PdfReader(pdf_file)
        page = pdf_reader.pages[page_number]
        page_text = page.extract_text()
        clean_text = re.sub(r'[^\x00-\x7F]+', '', page_text)  # Remove non-ASCII, commonly emojis
    return clean_text

def process_transactions(text):
    """Extract transaction details from text using a regex pattern."""
    # Regex pattern to capture date, time, type, amount, and payee details
    pattern = r"(\bJan|Feb|Mar|Apr|May|Jun|Jul|Aug|Sep|Oct|Nov|Dec)\s(\d{1,2}),\s(\d{4})\s(\d{2}:\d{2}\s(?:AM|PM))\s(DEBIT|CREDIT)\s(\d+,\d+|\d+)\s(Paid to|Received from)(.*)"
    matches = re.findall(pattern, text)
    data_list = []

    for transaction in matches:
        data = {
            "Month": transaction[0],
            "Date": transaction[1],
            "Year": transaction[2],
            "Time": transaction[3],
            "Type": transaction[4],
            "Amount": transaction[5],
            "Transaction": transaction[6],
            "Payee": transaction[7].strip()
        }
        data_list.append(data)

    return data_list

def main():
    # Path to the PDF file
    pdf_file_path = './PhonePe_Statement_Dec2023_Mar2024.pdf'
    # Extract text from the sixth page (index 5) without emojis
    page_text = extract_text_without_emojis(pdf_file_path, 5)

    # Pre-process text if necessary (e.g., removing blank lines or combining lines)
    text_lines = page_text.split('\n')
    text_filtered = " ".join([line.strip() for line in text_lines if line.strip()])

    # Process extracted text to find transaction details
    transactions = process_transactions(text_filtered)

    # Print extracted data
    for transaction in transactions:
        print(transaction)

if __name__ == "__main__":
    main()

In [83]:
transactions = []
for transaction in sublists[:]:
    data = {
        "date": transaction[0] ,
        "time":  transaction[1],
        "type": transaction[2],
        "amount": transaction[3],
        "payee": transaction[4]
    }
    transactions.append(data)

print(transactions)

[{'date': 'Mar 30, 2024', 'time': '11:26 AM', 'type': 'DEBIT', 'amount': '300', 'payee': 'MUNISH'}, {'date': 'Mar 29, 2024', 'time': '08:31 PM', 'type': 'DEBIT', 'amount': '165', 'payee': 'MITHLESH PRASAD'}, {'date': 'Mar 29, 2024', 'time': '08:26 PM', 'type': 'DEBIT', 'amount': '10', 'payee': 'Mr. Om  Prakash'}, {'date': 'Mar 29, 2024', 'time': '01:20 PM', 'type': 'DEBIT', 'amount': '80', 'payee': 'Annu Restaurant'}, {'date': 'Mar 29, 2024', 'time': '09:05 AM', 'type': 'DEBIT', 'amount': '60,000', 'payee': 'Ganesh  '}, {'date': 'Mar 28, 2024', 'time': '08:48 PM', 'type': 'DEBIT', 'amount': '70', 'payee': 'Annu Restaurant'}, {'date': 'Mar 28, 2024', 'time': '07:19 PM', 'type': 'DEBIT', 'amount': '1,000', 'payee': 'BESTIE'}, {'date': 'Mar 28, 2024', 'time': '01:38 PM', 'type': 'CREDIT', 'amount': '1,000', 'payee': '******4227'}]

In [84]:
import pandas as pd
# Create DataFrame
df = pd.DataFrame(transactions)
df

           date      time    type  amount            payee
0  Mar 30, 2024  11:26 AM   DEBIT     300           MUNISH
1  Mar 29, 2024  08:31 PM   DEBIT     165  MITHLESH PRASAD
2  Mar 29, 2024  08:26 PM   DEBIT      10  Mr. Om  Prakash
3  Mar 29, 2024  01:20 PM   DEBIT      80  Annu Restaurant
4  Mar 29, 2024  09:05 AM   DEBIT  60,000         Ganesh
5  Mar 28, 2024  08:48 PM   DEBIT      70  Annu Restaurant
6  Mar 28, 2024  07:19 PM   DEBIT   1,000           BESTIE
7  Mar 28, 2024  01:38 PM  CREDIT   1,000       ******4227

In [86]:
try:
    # Convert 'date' column to datetime format (assuming desired format is YYYY-MM-DD)
    df['date'] = pd.to_datetime(df['date'], format='%b %d, %Y')
    df['payee'] = df['payee'].str.replace(r'^(Paid to|Received from)\s+', '', regex=True)
except pd.errors.ParserError:
    print("Error: Date format parsing failed. Check 'date' column format.")

# Print the first few rows of the DataFrame
print(df)

        date      time    type  amount            payee
0 2024-03-30  11:26 AM   DEBIT     300           MUNISH
1 2024-03-29  08:31 PM   DEBIT     165  MITHLESH PRASAD
2 2024-03-29  08:26 PM   DEBIT      10  Mr. Om  Prakash
3 2024-03-29  01:20 PM   DEBIT      80  Annu Restaurant
4 2024-03-29  09:05 AM   DEBIT  60,000         Ganesh
5 2024-03-28  08:48 PM   DEBIT      70  Annu Restaurant
6 2024-03-28  07:19 PM   DEBIT   1,000           BESTIE
7 2024-03-28  01:38 PM  CREDIT   1,000       ******4227